# TP 4248 2021-2022 
## les membres du groupe
- fezeu Ghomsi Eugene Clotaire 17Q2864 
- Nono Mabou Wilfried Brondon 21S2817 brondonnono3@gmail.com
- NGBAYAFOU NGOUH Chéripha Cheriphalynette@gmail.com
- Junior Libii junior.libii@facsciences-uy1.cm

## binary naive bayes classification on sms dataset

In [2]:
# load tools
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [3]:
import os.path
from os import path
import getpass
filepath = ''
if path.exists(r'./spam.csv'):
    filepath = r'./spam.csv'
elif path.exists('./datas/spam.csv'):
    filepath = r'./datas/spam.csv'
else:
    
    filepath = r'./datas/spam.csv'
    def load_from_git():
      def clone_by_token():
        GIT_TOKEN= getpass.getpass("votre token git") 
        GIT_PATH = "https://" + GIT_TOKEN + "@github.com//fez2000/TP_4248.git" 
        !git clone {GIT_PATH} 'temp'
      def clone_by_username_and_password():
        GIT_USER_NAME= getpass.getpass("votre nom d'utilisateur git")
        GIT_PASSWORD= getpass.getpass("votre mot de pass git")
        !git  clone  https://{GIT_USER_NAME}:{GIT_PASSWORD}@github.com/fez2000/TP_4248.git 'temp' 
      if not path.exists('./temp/datas/spam.csv'):
        try:
          clone_by_username_and_password()
            
        except e:
          pass
        if not path.exists('./temp/datas/spam.csv'):
          try:
            clone_by_token()
          except e:
              pass
        else:
          %cd './temp'
        if not path.exists('./temp/datas/spam.csv'):     
          load_from_git()
        else:
          %cd './temp'
      else:
        %cd './temp'
    load_from_git()

votre nom d'utilisateur git··········
votre mot de pass git··········
Cloning into 'temp'...
remote: Support for password authentication was removed on August 13, 2021. Please use a personal access token instead.
remote: Please see https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/ for more information.
fatal: Authentication failed for 'https://fez2000:clotaire1234567890@github.com/fez2000/TP_4248.git/'
votre token git··········
Cloning into 'temp'...
remote: Enumerating objects: 62, done.
remote: Counting objects: 100% (62/62), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 62 (delta 28), reused 34 (delta 9), pack-reused 0
Unpacking objects: 100% (62/62), done.
/content/temp

In [4]:

import pandas as pd
import re
import numpy as np
dataset = pd.read_csv(filepath, encoding="ISO-8859-1", usecols=['v1', 'v2'], dtype={'v1':str,'v2':str})
dataset.head()
dataset = dataset.dropna(how="any")

In [5]:

import nltk
nltk.download('stopwords')
# ensemble de mots sans sens pas utilise pour la pertinence
# cette suppression offre un gain temps 
stopwords = nltk.corpus.stopwords.words('english')

#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [6]:
def tonkenizer(text):
    return re.sub(r"[^a-zA-Z0-9]", " ", text.lower().strip()).split()
def remove_stopwords(text):
    return[i for i in text if i not in stopwords]
# la lematisation reduit la taille du vecteur resultat et augmente la pertinence du model 
def stemming(text):
    stem_text = [porter_stemmer.stem(word) for word in text]
    return stem_text

def cleantext (text):
    return stemming(remove_stopwords(tonkenizer(text)))
def clean_and_binarise_text(row):
    return   [(row[0] == 'ham' and 1) or 0 , cleantext(row[1])]    

dataset_r = dataset.apply(clean_and_binarise_text, axis=1, result_type='broadcast')

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:792: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  ares = np.asarray(res).ndim

In [7]:
wordset = [] 
def creer_wordset(words): 
    global wordset
    wordset = np.union1d(wordset, words)
dataset_r.v2.apply(creer_wordset);

In [8]:
dataset = []
dataset_x = []
dataset_y = []
def vectorisation(l_doc):
    global wordset
    tf_diz = dict.fromkeys(wordset,0)
    for word in l_doc:
        tf_diz[word]=l_doc.count(word)
    return pd.Series(tf_diz.values(), index=tf_diz.keys()) 

dataset_r = dataset_r.rename(columns={"v1": "target"})
dataset_x = pd.DataFrame(dataset_r.v2.apply(vectorisation))
#binarisation
dataset_x[dataset_x > 0] = 1
dataset_xy = dataset_x;
dataset_xy['target'] = dataset_r.target
dataset_xy.describe()
dataset_x=[]

,0,00,000,000pe,008704050406,0089,0121,01223585236,01223585334,0125698789,...,zebra,zed,zero,zhong,zindgi,zoe,zogtoriu,zoom,zouk,zyada
count,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,...,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000,5572.000000
mean,0.000718,0.001795,0.004846,0.000179,0.000359,0.000179,0.000179,0.000179,0.000359,0.000179,...,0.000179,0.001077,0.000179,0.000179,0.000179,0.000359,0.000179,0.000179,0.000179,0.000179
std,0.026786,0.042330,0.069448,0.013397,0.018944,0.013397,0.013397,0.013397,0.018944,0.013397,...,0.013397,0.032800,0.013397,0.013397,0.013397,0.018944,0.013397,0.013397,0.013397,0.013397
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# split dataset
split_index= int(len(dataset_xy)*2/3.)
train_xy = dataset_xy.iloc[0:split_index]
test_xy = dataset_xy.iloc[split_index:]
dataset_r = []